%header
  %section
    %h1
      Thank you!
%section
  %div.image
    = image_tag 'cocktail-glass.svg'
  %div.content
    %h2 Sit back and relax
    %p
      Thanks very much for registering to help us out, we really appreciate it! I'll send you an email later this week so you know I got your details. And I'll check in with you in late June to sort out exact dates. Thanks again!