---
title: Getting started with Hipchat
---
%p
  Atlassian's #{link_to 'HipChat', 'http://www.hipchat.com'} now has free group chat - we'll use it to communicate between meetings. You can use this #{link_to 'sign up link', 'https://www.hipchat.com/g3boxeZ8J'} to join the Code Sydney group.
%p
  Use HipChat to ask questions, offer support, and stay in contact between meetings. Try not to give away the answer, but offer hints and tips - we're all here to learn!
%p
  As always, leave a comment on this post or contact me if you have any problems getting started.