---
title: Start Date
---
%p
  Hi everyone!
%p
  Previously I wasn't sure about the exact start date, but I've talked with Atlassian since then. I'm now happy to announce that we're scheduled to start on <strong>July 7</strong>! I've updated the #{link_to 'schedule', '/schedule'}, and included the public holidays we'll work around.
%p
  A couple of you have been surprised that it's so far off. This really is the first Monday that's available - I'm currently running another study group for Python, which will be wrapping up in early June, once that's finished I'm heading off on vacation for the last week of June. I promise I'm not neglecting you!
%p
  If you this means you can no longer participate in the group, please let me know (either through email or the comments).
%p
  See you on July 7 - until then, don't forget about the prerequisites!