---
title: Four weeks to go
---
%p
  We're starting in four weeks! Don't forget to go through the #{link_to 'prerequisites', 'http://codesydney.com/schedule/'} before then :)
%p
  If you've decided not to participate in the study group, please let me know as there are people on the waitlist. Otherwise...
%p
  See you soon!