---
title: Mark this RSS feed!
---
%p
  I try to be a spammer! I'm not going to send out bulk emails to everyone unless it's absolutely required. You can subscribe to this RSS feed on your favourite reader, or use something like #{link_to 'ifttt.com', 'http://ifttt.com'} to get them emailed to you.
%p
  There are also comments enabled for each update. This serves as a kind of email thread as needed. Please let the group know any concerns/questions you have as we go through each week.