---
title: New Location!
---
%p
  Thank you to everyone who has signed up - I've been amazed by the response so far! Yesterday we had our 20th registration of interest, more than I ever expected. I'm really excited to learn with all of you and see what we turn this study group into. I learned in my past study group that nothing will go quite as I expect - something that's already started with this one!
%p
  Since there have been so many interested people, I changed the location. My office wouldn't be able to handle 20 people (it could hardly take more than 12), and I'd hate to limit the study group based on my office size. So we will now meet at #{link_to 'Atlassian!', 'https://www.google.com.au/maps/place/Atlassian/@-33.867265,151.206921,17z/data=!3m1!4b1!4m2!3m1!1s0x6b12ae393a03d8ff:0x8fead86f5e91b507'} As you probably know, Atlassian hosts many meetups, and they were happy to accommodate ours.
%p
  Since I don't work at Atlassian I will need a few Atlassian employees to let us up the elevators and to make sure everything gets cleaned up properly. If you are an Atlassian employee who is willing to help us in this way please contact me.
%p
  Thanks again to everyone who has signed up or spread the word!