---
title: So Many Peeps!
---
%p
  Wow!
%p
  I've been absolutely blown away by Sydney's response to this study group. Over 30 people have registered, and we've still got over a month until the group starts. Thank you all!
%p
  However, I'm a bit concerned about loosing the "group feeling" - that sense of accountability because we'll notice that you're missing. I also think 30 is plenty of people to be getting on with, it's certainly a lot bigger than my current study group. So from now on <strong>anyone who registers interest will be placed on a wait list.</strong>
%p
  If you find that you won't be able to participate in the group, please let me know so someone else can take your spot. I'm sure they'll be very grateful for your consideration!