%header
  %section
    %h1
      Help out
%section
  %div.image
    = image_tag 'briefcase.svg'
  %div.content
    %h2 Already know JS?
    %p
      We'd love to have people around to answer questions! We're looking for anyone who likes tutoring, knows JS, and would be willing to hang out with us some week(s) for our study group. There's no ongoing commitment, you're welcome to come once or many times. However, I don't want to waste your time by having a bunch of tutors waiting around for questions. So if there's enough interest, I'll add a cap of 2 tutors per week, and spread out the work.


%section
  %div.image
  %div.content
    %a{name: 'sign-up', class: 'text'}
      %h2 Sign up to help

    :javascript
      var submitted=false;
    %iframe#hidden_iframe{name: "hidden_iframe", onload: "if(submitted) {window.location='thank-you-tutors/';}", style: "display:none;"}
    %form#ss-form{action: "https://docs.google.com/forms/d/1VHcN1_377IIQsekX16JSg9o1Qx8P0Ld-wjFG8UgKuA0/formResponse?embedded=true", method: "post", onsubmit: "submitted=true;", target: "hidden_iframe"}
      %ol.ss-question-list{role: "list", style: "padding-left: 0"}
        .ss-form-question.errorbox-good{role: "listitem"}
          .ss-item.ss-text{dir: "ltr"}
            %input#entry_1275735517.ss-q-short{"aria-label" => "Name  ", "aria-required" => "true", dir: "auto", name: "entry.1275735517", required: "", title: "", type: "text", value: "", placeholder:"Name"}/
        .ss-form-question.errorbox-good{role: "listitem"}
          .ss-item.ss-text{dir: "ltr"}
            .ss-form-entry
              %input#entry_1310634786.ss-q-short{"aria-label" => "Email address  ", "aria-required" => "true", dir: "auto", name: "entry.1310634786", required: "", title: "", type: "text", value: "", placeholder: "Email"}/
        .ss-form-question.errorbox-good{role: "listitem"}
          .ss-item.ss-radio{dir: "ltr"}
            .ss-form-entry
              %label.ss-q-item-label{for: "entry_1622566978"}
                .ss-q-title
                  How did you hear about this?
                .ss-q-help.ss-secondary-text{dir: "ltr"}
              %ul.ss-choices{"aria-label" => "How did you hear about this?  ", role: "radiogroup"}
                %li.ss-choice-item
                  %label
                    %span.ss-choice-item-control.goog-inline-block
                      %input#group_867050812_1.ss-q-radio{"aria-label" => "Twitter", name: "entry.867050812", role: "radio", type: "radio", value: "Twitter"}/
                    %span.ss-choice-label Twitter
                %li.ss-choice-item
                  %label
                    %span.ss-choice-item-control.goog-inline-block
                      %input#group_867050812_2.ss-q-radio{"aria-label" => "Women Who Code", name: "entry.867050812", role: "radio", type: "radio", value: "Women Who Code"}/
                    %span.ss-choice-label Women Who Code/Girl Geek Dinners
                %li.ss-choice-item
                  %label
                    %span.ss-choice-item-control.goog-inline-block
                      %input#group_867050812_3.ss-q-radio{"aria-label" => "Python study group", name: "entry.867050812", role: "radio", type: "radio", value: "Python study group"}/
                    %span.ss-choice-label Python study group
                %li.ss-choice-item
                  %label
                    %span.ss-choice-item-control.goog-inline-block
                      %input#group_867050812_3.ss-q-radio{"aria-label" => "Friend", name: "entry.867050812", role: "radio", type: "radio", value: "Friend"}/
                    %span.ss-choice-label Friend
                %li.ss-choice-item
                  %label
                    %span.ss-choice-item-control.goog-inline-block
                      %input#group_867050812_4.ss-q-radio{"aria-label" => "RoRO event", name: "entry.867050812", role: "radio", type: "radio", value: "RoRO event"}/
                    %span.ss-choice-label RoRO event
                %li.ss-choice-item
                  %label
                    %span.ss-choice-item-control.goog-inline-block
                      %input#group_867050812_3.ss-q-radio.ss-q-other-toggle{name: "entry.867050812", role: "radio", type: "radio", value: "__other_option__"}/
                  %span.ss-q-other-container.goog-inline-block
                    %input#entry_867050812_other_option_response.ss-q-other{"aria-label" => "Other", dir: "auto", name: "entry.867050812.other_option_response", type: "text", value: "", placeholder: "Other"}/
              .error-message
        .ss-form-question.errorbox-good{role: "listitem"}
          .ss-item.ss-paragraph-text{dir: "ltr"}
            .ss-form-entry
              %textarea#entry_1542545560.ss-q-long{"aria-label" => "Anything else?", cols: "0", dir: "auto", name: "entry.1542545560", rows: "8", placeholder:"Anything else?"}
        %input{name: "draftResponse", type: "hidden", value: "[,,\"-1128116732775176250\"]\r\n"}/
        %input{name: "pageHistory", type: "hidden", value: "0"}/
        %input{name: "fbzx", type: "hidden", value: "-1128116732775176250"}/
        .ss-item.ss-navigate
          %table#navigation-table
            %tbody
              %tr
                %td#navigation-buttons.ss-form-entry.goog-inline-block{dir: "ltr"}
                  %input#ss-submit.button{name: "submit", type: "submit", value: "Sign me up!"}/