%header
  %section
    %h1
      CodeSydney - programming study groups
.details
  %section
    %div.image
      = image_tag 'study-hat.svg', width: '128', height: '128'
    %div.content
      %h2 What can I learn now?
      %p
        #{link_to 'Algorithms!', '/2015-algorithms'}

  %section
    %div.image
      = image_tag 'calendar.svg', width: '128', height: '128'
    %div.content
      %h2 Past groups
      %p
        #{link_to 'JS and jQuery', '/2014-js'}