%h1 Schedule

%h3 Week 1
%ul
  %li How This Course Will Work
  %li Javascript Basics
  %li On Screen Calculator

%h3 Week 2
%ul
  %li jQuery Basics
  %li Manipulating the DOM with jQuery
  %li Organizing Your Code and More

%h3 Week 3
%ul
  %li Working with Events and Effects
  %li jQuery and the DOM

%h3 Week 4
%ul
  %li Using jQuery UI to Build Widgets
  %li Creating an Image Carousel/Slider

%h3 Week 5
%p Catch up

%h3 Week 6
%ul
  %li Objects, “Classes”, and Prototypes
  %li Scope and Closures
  %li Tic Tac Toe

%h3 Week 7
%ul
  %li Comparing Javascript and Ruby: Going Functional
  %li Really Understanding Functions in Javascript
  %li Minesweeper

%h3 Week 8
%ul
  %li Loading Javascript in the Browser
  %li Callbacks: Living in an Event-Driven World
  %li Callbacks

%h3 Week 9
%ul
  %li Using Canvas to Draw and More
  %li Building Games with Canvas

%h3 Week 10
%p Catch up

%h3 Week 11
%ul
  %li Validating Form Inputs Using jQuery
  %li Validating a Form with jQuery

%h3 Week 12
%ul
  %li Submitting a Form Without Reloading by Using AJAX
  %li Infinite Scroll and Submitting a Form with AJAX

%h3 Week 13
%ul
  %li Working with Javascript APIs
  %li Putting Google Maps Onto Your Site

%h3 Week 14
%ul
  %li (Note that we are skipping the Rails Backend section since knowledge of Rails is optional)
  %li Node.js and Server-Side Javascript
  %li Node.js

%h3 Week 15
%p Catch up

%h3 Week 16
%ul
  %li Using Templates
  %li Javascript MV* Frameworks Like Angular.js and Backbone.js
  %li Building Single Page Websites with Angular.js and Backbone.js
  %li Workflow Tools, Tech Stacks and Dependency Management

%h3 Week 17
%ul
  %li Javascript Testing with Jasmine
  %li Final Project (optional - depends on if you’re doing the full Odin Project or not)
  %li Conclusion

