%header
  %section
    %h1
      Thank you!
%section
  %div.image
    = image_tag 'cocktail-glass.svg'
  %div.content
    %h2 Sit back and relax
    %p
      You're done for now! Check for #{link_to 'updates', '/updates/'} periodically before the study group is supposed to kick off. And make sure you go through the #{link_to 'prerequisites', '/schedule'} before the study group starts.
    %p
      Thanks for signing up! I'll send you an email later this week so you know I got your details.