%nav
  %ul
    %li
      = nav_link 'About', '/js-2014-winter/'
    %li
      = nav_link 'Help Out', '/js-2014-winter/help-out/'
    %li
      = nav_link 'Schedule', '/js-2014-winter/schedule/'
    %li
      = nav_link 'Code', '/js-2014-winter/code/'